<!-- Menu -->
{% load static %}
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'youtube:home_view' %}" class="app-brand-link">
              <img src="{% static 'assets/img/favicon/favicon.ico' %}">
              <span class="app-brand-text demo menu-text fw-bolder ms-2">BLOCK X</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            {% if user.is_staff %}
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Client</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Client</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'youtube:client_list_view' %}" class="menu-link">
                    <div data-i18n="Account">View Client List</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'youtube:add_client_view' %}" class="menu-link">
                    <div data-i18n="Account">Add Client</div>
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Social Media</span>
            </li>
            {% if user.is_staff %}
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Youtube</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'youtube:youtube_filter' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="Account">Youtube filter</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'youtube:youtube_add_whitelist' %}" class="menu-link">
                    <div data-i18n="Account">Add Youtube Whitelist</div>
                  </a>
                </li>
              </ul>
            </li>
            {% else %}
            <li class="menu-item">
              <a href="{% url 'youtube:youtube_filter' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="Account">Youtube filter</div>
              </a>
            </li>
            {% endif %}

            {% if perms.ip_reporting.can_access_custom_permission %}
              <li class="menu-item">
                  <a href="{% url 'ip_reporting:ip_reporting_view' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="Account">Meta IP Report Tool</div>
                  </a>
              </li>

            <li class="menu-item">
                  <a href="{% url 'ip_reporting:common_ip_reporting' %}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="Account">Common Meta IP Report Tool</div>
                  </a>
            </li>
            {% endif %}

            <!-- Report Master -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Reports</span></li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Reports</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{% url 'ip_reporting:ip_report_view' %}" target="_blank" class="menu-link">
                    <div data-i18n="Account">IP Report</div>
                  </a>
                </li>
              </ul>
            </li>




            <!-- Misc -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
            <li class="menu-item">
              <a href="#" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">Support</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->