{% extends "base.html" %}

{% block title %} youtube form {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header"> Youtube Filter</h5>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Youtube Urls</label>
                          <textarea id="basic-default-message" name="input_urls" class="form-control" placeholder="Paste your Urls here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}