<!-- your_app/templates/your_app/client_list.html -->
{% extends 'base.html' %}
{% block title %} IP REPORT | {{movie_obj.client}} Report {% endblock %}
{% block content %}

<div class="card">
<!--                <h5 class="card-header col">IP REPORT | {{movie_obj.client}} | {{movie_obj.movie_name}}</h5>-->
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="col mb-0">META IP REPORT | {{movie_obj.client}} | {{movie_obj.movie_name}}</h5>
<!--                    <button class="btn btn-primary">Action</button>-->
                    <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="true">
                            <i class='bx bxs-download'></i> Export
                          </button>
                          <ul class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40.8px, 0px);" data-popper-placement="bottom-start">
<!--                            <li>-->
<!--                              <a href="window.print();" class="dropdown-item d-flex align-items-center"><i class='bx bx-printer'></i> Print</a>-->
<!--                            </li>-->
                            <li>
                              <a href="{% url 'ip_reporting:export_file' 'csv' movie_obj.id %}" class="dropdown-item d-flex align-items-center"><i class='bx bxs-file-doc'></i> Csv</a>
                            </li>
                            <li>
                              <a href="{% url 'ip_reporting:export_file' 'excel' movie_obj.id %}" class="dropdown-item d-flex align-items-center"><i class='bx bx-table'></i> Excel</a>
                            </li>
                            <li>
                              <a href="{% url 'ip_reporting:export_file' 'pdf' movie_obj.id %}" class="dropdown-item d-flex align-items-center"><i class='bx bxs-file-pdf'></i> Pdf</a>
                            </li>
                            <li>
                              <a href="#" class="dropdown-item d-flex align-items-center"><i class='bx bx-copy'></i> Copy</a>
                            </li>
                          </ul>
                        </div>
                </div>
<!--                <h5 class="card-header">IP REPORT | {{movie_obj.client}} | {{movie_obj.movie_name}}</h5>-->
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover display table-responsive text-nowrap" id="clientTable" >
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Report ID</th>
                        <th>Original Work</th>
                        <th>Report URL</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for data in datas %}
                      <tr>
                        <td>{{data.time_stamp}}</td>
                        <td>{{data.report_id}}</td>
                        <td>{% if data.original_type == 'VIDEO' %}
                            <i class='bx bx-video'></i>
                            {% elif data.original_type == 'PHOTO' %}
                            <i class='bx bx-image'></i>
                            {% elif data.original_type == 'ARTWORK' %}
                            <i class='bx bx-palette'></i>
                            {% else %}
                            <i class='bx bx-library'></i>
                            {% endif %}
                          </td>
                        <td><a href="{{data.report_url}}"><i class='bx bx-link-alt bx-tada-hover bx-flip-horizontal' ></i></a></td>
<!--                        <td><a href="{{data.report_url}}">{{data.report_url}}</a></td>-->
                        <td>{% if data.status == 'PENDING' %}
                          <span class="badge bg-label-danger me-1">{{data.status}}</span></td>
                          {% elif data.status == 'REMOVED' %}
                            <span class="badge bg-label-success me-1">REMOVED</span></td>
                          {% elif data.status == 'REPORTED' %}
                            <span class="badge bg-label-warning me-1">REPORTED</span></td>
                          {% endif %}
                        <!--
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                              <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                          </div>
                        </td>-->
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>


<!-- Initialize DataTables with AJAX -->
<script>
$(document).ready(function() {
        $('#clientTable').DataTable({
            "lengthMenu": [5, 10, 25, 50, 100],
            "searching": <true></true>
        });


});
</script>

{% endblock content %}
