{% extends "base.html" %}

{% block title %} page title {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">{{client}} | White list</h5>
                      <small class="float-end">
                          <a type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top"
                          data-bs-html="true" data-bs-original-title="Download as CSV" href="{% url 'youtube:client_whitelist_csv_download' client %}">
                              <i class='bx bxs-download'></i>&nbsp;
                            </a></small>
                </div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr class="text-nowrap">
                        <th>#</th>
                        <th>Title</th>
                        <th>Channel Id</th>
                        <th>Channel Url</th>
                        <th>Added By</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for result in whitelist_results %}
                      <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ result.channel_title }}</td>
                          <td>{{ result.channel_id }}</td>
                          <td><a href="{{ result.channel_url }}">{{ result.channel_url }}</a></td>
                          <td>{{ result.added_by }}</td>
                          <td>
                              <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                              </div>
                          </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}